<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/assets/dist/css/style.min.css"/>
		<title>{{ title }}</title>
	</head>

	<body class="pa-2">
		<nav class="mb-2">
			{% for item in nav_sections['query']['results'].items() %}
			<a href="/{{ item[1]['fulltext']|replace("Concept:", "") }}">{{ item[1]['fulltext']|replace("Concept:", "") }}</a>
      {% endfor %}
    </nav>
    <h2 class="ft-serif ft-2">{{ title }}</h2>

    <ul>
      {% if date %}<li>{{ date[0] }}</li>{% endif %}
      {% if time %}<li>{{ time[0] }}</li>{% endif %}
      {% if peopleorgs %}<li>{{ peopleorgs|join(', ') }}</li>{% endif%}
      {% if place %}<li>{{ place[0] }}</li>{% endif %}
    </ul>

			{{ bodytext|safe }}
	</body>
</html>
