{% extends 'base.html' %}
{% block article_script %}
  <script src="/assets/dist/js/slideshow.min.js"></script>
{% endblock %}

{% block article %}

<div class="mg-t--3">
  {% if date %}<h1 class="ft-sans ft-3 ft-3__m">{{ date[0]|dateformat }}</h1>{% endif %}
  
  {% if title not in nav_main['query']['results'] %}
  <h2 class="ft-serif ft-2 ft-2__m ft-bold mg-b--2">{{ title }}</h2>
  {{ super() }}
  {% endif %}

  {% if time or venue or peopleorgs %}
  <ul class="d-tb pd-b--1 ft-sans">
    {% if time %}<li class="d-tbr li-em">{{ time[0] }}</li>{% endif %}
    {% if venue %}<li class="d-tbr li-em">{{ venue[0] }}</li>{% endif%}
    {% if peopleorgs %}<li class="d-tbr li-em">w/ {{ peopleorgs|join(', ') }}</li>{% endif %}
  </ul>
  {% endif %}

  <section class="mg-t--2">
    {{ bodytext|safe }}
  <section>
</div>

{% endblock %}

