{% extends 'base.html' %}
{% block article_script %}
  <script src="/assets/dist/js/slideshow.min.js"></script>
{% endblock %}

{% block article %}
<div class="w--page">

  {% if date %}<h1 class="ft-sans ft-3 ft-3__m mg-t--2">{{ date[0]|dateformat }}</h1>{% endif %}
  
  {% if title not in nav_main['query']['results'] %}
  <h2 class="ft-serif ft-1 ft-2__m mg-b--2">{{ title }}</h2>
  {{ super() }}
  {% endif %}

  <ul class="d-tb pd-b--1">
    {% if time %}<li class="d-tbr li-em">{{ time[0] }}</li>{% endif %}
    {% if place %}<li class="d-tbr li-em">{{ place[0] }}</li>{% endif%}
    {% if peopleorgs %}<li class="d-tbr li-em">w/ {{ peopleorgs|join(', ') }}</li>{% endif %}
  </ul>
  
  {{ bodytext|safe }}
</div>

{% endblock %}

