<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/dist/css/style.min.css?=v1.5"/>
  
    <link rel="apple-touch-icon" sizes="180x180" href="assets/files/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/files/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/files/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/files/favicon/manifest.json">
    <link rel="mask-icon" href="/assets/files/favicon/safari-pinned-tab.svg" color="#ff0000">
    <meta name="theme-color" content="#ffffff">

    <title>{% if "Concept:" in title %}{{ title|replace("Concept:", "") }}{% else %}{{ title }}{% endif %} • H&amp;D</title>
  </head>

	<body class="mss pd-a--2 ft-1 ft-1__m">
    <nav class="nav">
      <div class="main-menu pd-b--1">
        <a href="/" class="ft-sans ft-2 ft-3__m a-td--0 pd-r--1 blue">H&amp;D</a>
        {% for item in nav_main['query']['results'].items() %}
        <a href="/p/{{ item[0]|replace(" ", "_") }}" class="ft-sans ft-2 ft-3__m a-td--0 blue{% if not loop.last %} pd-r--1{% endif %}">{{ item[0] }}</a>
        {% endfor %}
      </div>
      <div class="section-menu">
			  {% for item in nav_sections['query']['results'].items() %}
        <a href="/s/{{ item[1]['fulltext']|replace("Concept:", "")|replace(" ", "_") }}" class="sm-item d-ib ft-serif ft-2 ft-2__m w--full w--auto__s{% if not loop.last %} mg-r--1 mg-b--05{% endif %}{% if item[0] == title %} ft-italic{% endif %}">{{ item[1]['fulltext']|replace("Concept:", "")}}</a>
			  {% endfor %}
      </div>
    </nav>
    
    <main class="mg-t--3">
      {% if intro %}
      <div class="intro mg-t--3 mg-b--2">
        {{ intro|safe }} 
      </div>
      {% endif %}

      {% block event_list %}{% endblock %}
      {% block section_list %}{% endblock %}
      {% block article %}{% endblock %}
      {% block error %}{% endblock %}

      <div class="dot bg-black mg-t--4 mg-auto"></div>
    </main>

    <script src="/assets/src/js/nav/nav.js"></script>
    {% block article_script %}{% endblock %}
  </body>
</html>
