<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/dist/css/style.min.css"/>
    <title>{% if "Concept:" in title %}{{ title|replace("Concept:", "") }}{% else %}{{ title }}{% endif %} • H&D</title>
  </head>

	<body class="pd-a--2 ft-1">
    <nav class="nav mg-b--2">
      <div class="flex-r flex-sb flex-st_s">
        <a href="/" class="ft-sans ft-3 br-b--0 pd-r--1_s {% if title == 'Hackers and Designers' %}red{% else %} blue{% endif %}">H&D</a>
        {% for item in nav_main['query']['results'].items() %}
        <a href="/p/{{ item[0]|replace(" ", "_") }}" class="ft-sans ft-3 br-b--0{% if not loop.last %} pd-r--1_s{% endif %}{% if item[0] == title %} red{% else %} blue{% endif %}">{{ item[0] }}</a>
        {% endfor %}
      </div>
      <div class="section-menu">
			  {% for item in nav_sections['query']['results'].items() %}
        <a href="/s/{{ item[1]['fulltext']|replace("Concept:", "")|replace(" ", "_") }}" class="ft-serif ft-2{% if not loop.last %} mg-r--1{% endif %}{% if item[0] == title %} ft-italic{% endif %}">{{ item[1]['fulltext']|replace("Concept:", "")}}</a>
			  {% endfor %}
      </div>
    </nav>
    
    {% if intro %}
    <div class="mg-t--3">
      {{ intro|safe }}
    </div>
    {% endif %}

    {% block event_list %}{% endblock %}
    {% block section_list %}{% endblock %}
    {% block article %}{% endblock %}
    {% block error %}{% endblock %}

    <p>👀</p>
    
    <script src="/assets/dist/js/nav.min.js"></script>
    {% block article_script %}{% endblock %}
  </body>
</html>
