{% extends 'base.html' %}
{% block event_list %}

  <h2 class="ft-sans ft-3 ft-3_m blue mg-b--1">Upcoming</h2>
	<ul>
	  {% for up_event in up_event_list %}
		<li class="mg-b--2">
      <h2 class="ft-sans ft-3 ft-3_m black">{{ up_event[1]|dateformat }}</h2>
      <a href="/s/Events/p/{{ up_event[0]|replace(' ', '_') }}" class="ft-2 ft-2_m">{{ up_event[0] }}</a>
      {{ up_event[2]|safe }}
		</li>
    {% endfor %}
	</ul>

  <h2 class="ft-sans ft-3 ft-3_m blue mg-b--1">Archive</h2>
	<ul>
	{% for past_event in past_event_list %}
		<li class="mg-b--2">
      <h2 class="ft-sans ft-3 ft-3_m black">{{ past_event[1]|dateformat }}</h2>
      <a href="/s/Events/p/{{ past_event[0]|replace(' ', '_') }}" class="ft-2 ft-2_m">{{ past_event[0] }}</a>
		</li>
	{% endfor %}
  </ul>

{% endblock %}
