<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="assets/style.css"/>
		<title>{{title }}</title>
	</head>

	<body>
		<nav>
		</nav>
		<h1>{{ title }}</h1>
		{{ bodytext|safe }}

		<h2>Upcoming</h2>
		<ul>
		{% for articles in event_list['query']['results'].items() %}
			<li>
				{{ articles[1]['printouts']['OnDate'][0]['fulltext']}}
				<a href="/{{ articles[1]['printouts']['NameOfEvent'][0]['fulltext']}}">
					{{ articles[1]['printouts']['NameOfEvent'][0]['fulltext']}}
				</a>
			</li>
		{% endfor %}
		</ul>
	</body>
</html>
