<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="assets/style.css"/>
		<title>{{title }}</title>
	</head>

	<body>
		<nav>
		</nav>
		<h1>{{ title }}</h1>
		{{ intro|safe }}

		<h2>Upcoming</h2>
		<ul>
		{% for up_events in up_event_list['query']['results'].items() %}
			<li>
				{{ up_events[1]['printouts']['OnDate'][0]['fulltext'] }}
				<a href="/{{ up_events[1]['printouts']['NameOfEvent'][0]['fulltext'] }}">
					{{ up_events[1]['printouts']['NameOfEvent'][0]['fulltext'] }}
				</a>
			</li>
		{% endfor %}
		</ul>

		<h2>Archive</h2>
		<ul>
		{% for past_events in past_event_list['query']['results'].items() %}
			<li>
				{{ past_events[1]['printouts']['OnDate'][0]['fulltext'] }}
				<a href="/{{ past_events[1]['printouts']['NameOfEvent'][0]['fulltext'] }}">
					{{ past_events[1]['printouts']['NameOfEvent'][0]['fulltext'] }}
				</a>
			</li>
		{% endfor %}
		</ul>

	</body>
</html>
