<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="assets/dist/css/style.css"/>
		<title>{{title }}</title>
	</head>

	<body class="pa-2">
		<nav class="mb-2">
			{% for item in nav['query']['results'].items() %}
			<a href="/{{ item[1]['fulltext']|replace("Concept:", "") }}">{{ item[1]['fulltext']|replace("Concept:", "")}}</a>
			{% endfor %}
		</nav>
		<h1 class="ft-sans ft-1 blue">{{ title }}</h1>
		{{ intro|safe }}

		<h2 class="ft-sans ft-1 blue">Upcoming</h2>
		<ul>
		{% for up_events in up_event_list['query']['results'].items() %}
			<li class="mb-2">
				<h2 class="ft-sans ft-1 black mb-0">{{ up_events[1]['printouts']['OnDate'][0]['fulltext'] }}</h2>
        <a href="/events/{{ up_events[1]['printouts']['NameOfEvent'][0]['fulltext']|replace(" ", "_") }}" class="ft-serif ft-2">
					{{ up_events[1]['printouts']['NameOfEvent'][0]['fulltext'] }}
        </a>
        <p>{{ up_events[1]['printouts']['intro_text']|safe }}</p>
			</li>
      {% endfor %}
		</ul>

		<h2 class="ft-sans ft-1 blue">Archive</h2>
		<ul>
		{% for past_events in past_event_list['query']['results'].items() %}
			<li class="mb-2">
				<h2 class="ft-sans ft-1 black mb-0">{{ past_events[1]['printouts']['OnDate'][0]['fulltext'] }}</h2>
				<a href="/events/{{ past_events[1]['printouts']['NameOfEvent'][0]['fulltext']|replace(" ", "_") }}" class="ft-serif ft-2">
					{{ past_events[1]['printouts']['NameOfEvent'][0]['fulltext'] }}
        </a>
        <p>{{ past_events[1]['printouts']['intro_text']|safe }}🐟</p>
			</li>
		{% endfor %}
		</ul>

	</body>
</html>
