{% include 'header.html' %}

  {{ intro|safe }}

	<h2 class="ft-sans ft-1 blue">Upcoming</h2>
	<ul>
	  {% for up_events in up_event_list[0]['results'].items() %}
		<li class="mb-2">
			<h2 class="ft-sans ft-1 black mb-0">{{ up_events[1]['printouts']['OnDate'][0]['fulltext']|dateformat }}</h2>
      <a href="/s/Events/p/{{ up_events[1]['printouts']['NameOfEvent'][0]['fulltext']|replace(" ", "_") }}" class="ft-serif ft-2">
				{{ up_events[1]['printouts']['NameOfEvent'][0]['fulltext'] }}
      </a>
      <p>{{ up_events[1]['printouts']['intro_text']|safe }}</p>
		</li>
    {% endfor %}
	</ul>

  <h2 class="ft-sans ft-1 blue">Past Events</h2>
	<ul>
	{% for past_events in past_event_list[0]['results'].items() %}
		<li class="mb-2">
			<h2 class="ft-sans ft-1 black mb-0">{{ past_events[1]['printouts']['OnDate'][0]['fulltext']|dateformat }}</h2>
			<a href="/s/Events/p/{{ past_events[1]['printouts']['NameOfEvent'][0]['fulltext']|replace(" ", "_") }}" class="ft-serif ft-2">
				{{ past_events[1]['printouts']['NameOfEvent'][0]['fulltext'] }}
      </a>
      <p>{{ past_events[1]['printouts']['intro_text']|safe }}</p>
		</li>
	{% endfor %}
</ul>

{% include 'footer.html' %}
