{% extends 'base.html' %}
{% block section_list %}

<ul class="flex-c flex-r_m flex-sb mg-t--2">
  {% for item in section_items %}
    <li class="w--half_m w--third_w mg-b--3">
      {% if item[1] %}<h2 class="ft-sans ft-3 ft-3_m">{{ item[1]|dateformat }}</h2>{% endif %}
      <a href="{{ title|replace('Concept:', '')|replace(' ', '_') }}/p/{{ item[0]|replace(' ', '_') }}" class="ft-2 ft-2_m">{{ item[0] }}</a>
      {% if item[2] %}{{ item[2]|safe }}{% endif %}
    </li>
  {% endfor %}
  </ul>

{% endblock %}
