<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="assets/src/css/style.css"/>
		<title>{{ title|replace("Concept:", "") }}</title>
	</head>

	<body class="pa-2">
		<nav>
			{% for item in nav['query']['results'].items() %}
			<a href="/{{ item[1]['fulltext']|replace("Concept:", "") }}">{{ item[1]['fulltext']|replace("Concept:", "") }}</a>
      {% endfor %}
    </nav>
    <h2 class="ft-serif ft-2">{{ title|replace("Concept:", "") }}</h2>
	</body>
</html>
