/* Base */

html {
	width: 100%;
	font-family: var(--font-serif);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	background-color: var(--color-bg);
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

a {
  word-wrap: break-word;
}

.mss {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  position: relative;
}
