/* Base */

html {
	width: 100%;
	font-family: var(--font-serif);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	background-color: var(--color-bg);
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
  margin: 0 auto;
}

.mss {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}
