/* Display */

/* flex */

.flex-r {
  display: flex;
  flex-flow: row wrap;
}

.flex-c {
  display: flex;
  flex-flow: column wrap;
}

@media screen and (min-width: 640px) {
  .flex-r__m {
    display: flex;
    flex-flow: row wrap;
  }
}

.flex-sb {
  justify-content: space-between;
}

.flex-ab {
  align-items: baseline;
}

/* display */

.d-n {
  display: none;
}

.d-ib {
  display: inline-block;
}

.d-b {
  display: block;
}

.d-tb {
  display: table;
}

.d-tbr {
  display: table-row;
}
