/* Display */

/* flex */

.flex-r {
  display: flex;
  flex-flow: row wrap;
}

.flex-c {
  display: flex;
  flex-flow: column wrap;
}

@media screen and (min-width: 640px) {
  .flex-r_m {
    display: flex;
    flex-flow: row wrap;
  }
}

.flex-sb {
  justify-content: space-between;
}

@media screen and (min-width: 324px) {
  .flex-st_s {
    justify-content: flex-start;
  }
}

/* display */

.d-n {
  display: none;
}

.d-ib {
  display: inline-block;
}

.d-tb {
  display: table;
}

.d-tbr {
  display: table-row;
}
