/* Size */

.w--full {
  width: 100%;
}

@media screen and (min-width: 640px) {
  .w--half_m {
    width: 47.5%;
  }
}

@media screen and (min-width: 1200px) {
  .w--third_w {
    width: 30%;
  }
}

.gallery img {
  max-height: 45vh;
}

.gallery-item {
  width: 100%;
  margin: 0 15% 0 0;
  padding: var(--spacing-small);
  counter-increment: gallery-item;
}
