/* Size */

.w--full {
  width: 100%;
}

.w--half {
  width: 47.5%;
}

.w--two-thirds {
  width: 70%;
}

@media screen and (min-width: 640px) {
  .w--half_m {
    width: 47.5%;
  }
}

@media screen and (min-width: 1200px) {
  .w--third_w {
    width: 30%;
  }
}

/* Height */

.h--small {
  height: var(--baseline);
}

.h--half {
  max-height: 45vh;
}
