/* Size */

.w--page {
  max-width: 42rem;
}

.w--full {
  width: 100%;
}

.w--one-third {
  width: 30%;
}

.w--half {
  width: 47.5%;
}

.w--four-fifths {
  width: 80%;
}

@media screen and (min-width: 500px) {
  .w--half__s {
    width: 47.5%;
  }
}

@media screen and (min-width: 640px) {
  .w--half__m {
    width: 47.5%;
  }
  
  .w--one-third__m {
    width: 30%;
  }
}

@media screen and (min-width: 1200px) {
  .w--one_third__l {
    width: 30%;
  }
}

@media screen and (min-width: 1600px) {
  .w--one-fourth__w {
    width: 22%;
  }
}

/* Height */

.h--small {
  height: var(--baseline);
}

.h--half {
  max-height: 45vh;
}
