/** Skin **/

:root {
	--color-main: #000000;
	--color-compl: #0000ff;
	--color-bg: #ffffff;
}

/* colours */

.black {
	color: var(--color-main);
}

.blue {
	color: var(--color-compl);
}

.bg-white {
	background-color: (--color-bg);
}

/* box-shadows */

.shadow {
	box-shadow: 0px 0px 8px 8px rgba(67, 67, 67, 0.3);
}
