/* Typography */

:root {
	--font-serif: Georgia, serif;
	--font-sans: Arial, sans-serif;
  --font-mono: "Liberation Mono", "DejaVu Sans Mono", Menlo, Consolas, Monaco, "Lucida Console", monospace;

	--font-size--base: 18px;
	--font-lh--base: 1.35;

	--baseline: calc(var(--font-size--base) * var(--font-lh--base));

	--border-main: 0.15rem solid var(--color-main);
  --border-compl: 0.15rem solid var(--color-compl);
	--border-bg: 0.15rem solid var(--color-bg);
}

/* Base */

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

a {
	color: inherit;
}

.a-td--0 {
  text-decoration: none;
}

ul {
  list-style: none;
}

blockquote {
  font-family: var(--font-sans);
  margin: var(--baseline);
}

code, pre {
  white-space: pre-line;
}

hr {
  margin: var(--baseline) auto;
  width: 30%;
}

/* components */

.ft-sans {
	font-family: var(--font-sans);
}

.ft-serif {
	font-family: var(--font-serif);
}

.ft-mono {
  font-family: var(--font-mono);
}

.ft-italic {
  font-style: italic;
}

.ft-bold {
  font-weight: 600;
}

.ft-1 {
	font-size: 18px;
}

.ft-2 {
  font-size: 24px;
}

.ft-3 {
  font-size: 32px;
}

@media screen and (min-width: 475px) {
  .ft-1__m {
	  font-size: 21px;
  }

  .ft-2__m {
	  font-size: 28px;
  }

  .ft-3__m {
	  font-size: 42px;
  }
}

.li-em:before {
  content: '\2014';
  display: table-cell;
  text-align: right;
  padding: 0 calc(var(--baseline) * 0.5) 0 0;
  margin: 0 0 0 -calc(var(--baseline) * 2);
  width: var(--baseline);
}

/* align */

.t-c {
  text-align: center;
}
