/* Typography */

/* Base */

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

a {
	color: inherit;
	text-decoration: none;
  border-bottom: var(--border-main)
}

ul {
  list-style: none;
}

blockquote {
  font-family: var(--font-sans);
  font-size: var(--font-size--medium);
  margin: var(--baseline);
}

hr {
  margin: var(--baseline) auto;
  width: 30%;
}

/* components */

.ft-sans {
	font-family: var(--font-sans);
}

.ft-serif {
	font-family: var(--font-serif);
}

.ft-italic {
  font-style: italic;
}

.ft-bold {
  font-weight: 600;
}

.ft-1 {
	font-size: var(--font-size--big);
}

.ft-2 {
	font-size: var(--font-size--medium);
}

.ft-3 {
	font-size: var(--font-size--small);
}

/* borders */

.br-b--0 {
  border-bottom: none;
}
