/* Variables */

:root {
	--font-serif: Georgia;
	--font-sans: Arial;
  
	--font-size__small: 21px;
  --font-lh--small: 1.35;

	--font-size__medium: calc(var(--font-size__small) * 1.35);
	--font-size__big: calc(var(--font-size__small) * 2);

	--spacing-none: 0;
	--spacing-small: calc(var(--baseline) * 0.5);
	--spacing-medium: calc(var(--baseline) * 1);
	--spacing-large: calc(var(--baseline) * 2);

	--color-main: #000000;
	--color-compl: #0000ff;
	--color-bg: #ffffff;

	--baseline: calc(var(--font-size__small) * var(--font-lh--small));

	--border-main: 0.12rem solid var(--color-main);
  --border-compl: 0.12rem solid var(--color-compl);
	--border-bg: 0.12rem solid var(--color-bg);
}
